<!DOCTYPE HTML>
<html>
	<head>
		<title>헤더 페이지</title>
		<meta charset="utf-8" />
    </head>
    <body>
        <header>
            <style>
                header{
                    display:flex;
                    text-align:center;
                    flex-direction:column;
                }
                a {
                    text-decoration:none;
                    color:black;
                  }
                .logo_font{
                    font-size:60px;
                    font-style:italic;
                }
            </style>
            <div>
                <a href="../view/main.html">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq7P6M1jFMC2rgdvSWQ7YSEluHnYIF2YJ2tA&usqp=CAU">
                </a>
            </div>
            <div>
                <a class="logo_font" href="../view/main.html">바로차</a>
            </div>
        </header>
    </body>
</html>