<!DOCTYPE HTML>
<html>
	<head>
		<title>경기 목록 페이지</title>
		<meta charset="utf-8" />
        <style>
            header{
                margin-top: 50px;
            }
            main {
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <%- include('header.ejs') %>
        <main>
            <%- include('match_list.ejs', match_list_info) %>
        </main>
    </body>
</html>