<!DOCTYPE html>
<html>
    <head>
        <title>유저 정보 페이지</title>
        <meta charset="utf-8" />
        <meta name="description" content = "유저 정보 페이지" />
        <link href="../public/css/user_info.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <div id="user_name_picture">
                <img style="float:left; height:200px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDLm7j389Kmf7rhrJzEJi9mqmihy0M32lnzg&usqp=CAU">
                <div class="user_name">juntae</div>
                <div class="user_gender">(남)</div>
            </div>

            <div class="user_info_list">
                <div class="user_info_wrap">
                    <div class="user_info_name">학과</div>
                    <div class="user_info_data">컴퓨터공학과</div>
                </div>

                <div class="" style="width:45%; margin-left: 2.5%;">
                    <div class="user_info_name">학번</div>
                    <div class="user_info_data">20학번</div>
                </div>

                <div style="width:45%; margin-top:40px; margin-right:2.5%;">
                    <div class="user_info_name">학년</div>
                    <div class="user_info_data">3학년</div>
                </div>

                <div style="width:45%; margin-top:40px; margin-left: 2.5%;">
                    <div class="user_info_name">이메일</div>
                    <div class="user_info_data">2020xxxx@gm.hannam.ac.kr</div>
                </div>
            </div>
        </main>
    </body>
</html>